<!doctype html>
{% extends 'base.html' %}
{% block content %}
<!-- <link href="{% static 'css/basic.css' %}" rel="stylesheet"> -->
<div class="row">
  <div class="col-sm-12 col-md-12">
    <h1>Por que?</h1>
    <p>Já se pegou em dúvida se deveria ir pro RU ou não por conta do tamanho da fila?</p>
    <p>Seus problemas acabaram, com o WazeRU você pode saber quão cheio está o RU</p>
    <p>A cara está verde e feliz? Pode ir sem preocupações para o RU!</p>
    <p>Agora a cara está vermelha? Melhor ir outra hora ou criar muita coragem!</p>
    <hr>
    <h1>Desenvolvedores</h1>
    <br>
    <h5>Front-end: <a href="https://github.com/alexandrebarbaruiva">Alexandre Augusto</a></h5>
    <h5>Back-end: <a href="https://github.com/tapumar">Talitha Pumar</a></h5>
  </div>
</div>
{% endblock %}
