{% extends 'base.html' %}
{% block content %}
{% load static %}
{% if media_votos < 2 %}
    <img src="{% static "img/happyface.png" %}" class="img-fluid" alt="Meh face"/>
{% elif media_votos < 4 %}
    <img src="{% static "img/okface.png" %}" class="img-fluid" alt="Meh face"/>
{% elif media_votos < 6 %}
    <img src="{% static "img/mehface.png" %}" class="img-fluid" alt="Meh face"/>
{% elif media_votos < 8 %}
    <img src="{% static "img/sadface.png" %}" class="img-fluid" alt="Meh face"/>
{% else %}
    <img src="{% static "img/andgryface.png" %}" class="img-fluid" alt="Meh face"/>
{% endif %}
{% endblock %}
