<!doctype html>
{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <h1 align="center">Como está o RU agora?</h1>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-1 col-md-3"></div>
    <div class="col-sm-10 col-md-6">
      {% if media_votos < 2 %}
          <img src="{% static "img/happyface.png" %}" class="img-fluid flex" alt="Happy face"/>
      {% elif media_votos < 4 %}
          <img src="{% static "img/okface.png" %}" class="img-fluid flex" alt="Ok face"/>
      {% elif media_votos < 6 %}
          <img src="{% static "img/mehface.png" %}" class="img-fluid flex" alt="Meh face"/>
      {% elif media_votos < 8 %}
          <img src="{% static "img/sadface.png" %}" class="img-fluid flex" alt="Sad face"/>
      {% else %}
          <img src="{% static "img/andgryface.png" %}" class="img-fluid flex" alt="Angry face"/>
      {% endif %}
      </div>
      <div class="col-sm-1 col-md-3"></div>
  </div>
  <br>
</div>
{% endblock %}
