<!doctype html>
{% extends 'base.html' %}
{% block content %}
<ul>
    <li>
      <a href="/semanal/segunda">
      Segunda-Feira</a>
    </li>
    <li>
    <a href="/semanal/terca">
    Terça-Feira</a>
  </li>
    <li>
      <a href="/semanal/quarta">
      Quarta-Feira</a>
    </li>
    <li>
      <a href="/semanal/quinta">
      Quinta-Feira</a>
    </li>
    <li>
      <a href="/semanal/sexta">
      Sexta-Feira</a>
    </li>
    <li>
      <a href="/semanal/sabado">
      Sábado</a>
    </li>
    <li>
      <a href="/semanal/domingo">
      Domingo</a>
    </li>
</ul>
{% endblock %}
